<div class="flex flex-col sm:flex-row md:flex-row justify-center p-5">
  <div class="w-[90%] m-auto sm:w-2/5 md:w-2/5 flex flex-col items-center my-5">
    <h2 class="text-5xl font-bold m-5">Sobre nosotros</h2>
    <p class="text-lg sm:ml-10 md:ml-10">
      Somos un equipo amante del aire libre, los deportes y las actividades
      saludables. Trabajamos para mejorar nuestro entorno y te invitamos a
      compartirlo con nosotros.
    </p>
  </div>

  <div class="w-[90%] m-auto sm:w-3/5 md:w-3/5 items-center sm:p-20 md:p-20" >
    <p>
      <strong class="text-gray-500"> Beach Port Saplaya </strong>es un <strong class="text-gray-500"> Club de Playa</strong> situado en la<strong class="text-gray-500"> Piscina
      Municipal de Alboraya</strong>. Estamos <strong class="text-gray-500">abiertos a todo el público</strong> desde <strong class="text-gray-500">mayo hasta
      septiembre</strong>. Contamos con unas<strong class="text-gray-500"> magníficas instalaciones</strong> en un<strong class="text-gray-500"> entorno
      natural</strong>. Estamos a<strong class="text-gray-500"> 10 metros del mar</strong>, al final del paseo marítimo de playa
      norte en<strong class="text-gray-500"> Port Saplaya</strong>, una urbanización con encanto a<strong class="text-gray-500"> 10 minutos de
      Valencia</strong>. Intentamos ser un<strong class="text-gray-500"> lugar único</strong>, donde el <strong class="text-gray-500">deporte</strong> y la pasión por
      el<strong class="text-gray-500"> aire libre</strong> inspiren a compartir buenos momentos, sinergias, trabajo en
      equipo, actividades saludables, intercambio de vivencias… Trabajamos
      siempre con el objetivo de que te sientas a gusto y disfrutes de la
      piscina y de su inigualable contexto.
    </p>
  </div>
</div>
