<app-modal 
  [eventData]="eventData" 
  [showModal]="showModal" 
  (modalClose)="closeModal()"
></app-modal>

<section id="Home">
  <app-header></app-header>
</section>

<section id="about">
  <app-us-home></app-us-home>
</section>

<section id="services">
  <app-info-home></app-info-home>
</section>

<section id="image">
  <app-carrusel></app-carrusel>
</section>

<section class="relative w-full overflow-hidden" id="parallax">
  <app-parallax></app-parallax>
</section>

<section id="activities">
  <app-activities></app-activities>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>

<app-footer></app-footer>
